#radical
{
    font-size: 1.2em;
}

#radical:disabled
{
    color: lightcoral;
    background: grey;
    font-size: 1.2em;
}

#radical_active
{
    color: green;
    background: yellow;
    font-size: 1.2em;
}
